{{>header}}
{{>navbar}}
<section class="my-3 container">
    <h2 class="mb-4">add form with post method</h2>
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="user name" name="userName">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="user age" name="age">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="add user">
        </div>
    </form>
</section>
{{>footer}}