<div class="container">
    <div class="row mt-4 justify-content-center">
        <div *ngFor='let product of notebooks' class="card ms-2" style="width: 18rem;">
            <img class="card-img-top" [src]="product.img" alt="notebook">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.desc}}</p>
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <p class="card-text">Product Price</p>
                  <p class="card-text">R$ {{product.price}}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Product Size</p>
                <p class="card-text">{{product.size}}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text">Product Stock</p>
                <p class="card-text">{{product.stock}}</p>
                </div>
              </div>  
              <form class="d-flex mb-4 justify-content-between" #quantity='ngForm'>
                <label>Quantity : </label>
                <input type="number" name="quantity" [disabled]='(product.stock==0)' style=" width:120px;" max="{{product.stock}}" ngModel #quantity="ngModel">
              </form>
              <span class="alert alert-danger my-3" *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)">
                No stock
              </span>         
              <div class="d-flex  justify-content-center">
                <button [disabled]="product.stock==0" class="btn btn-success" (click)='addtocart(product._id,quantity.value)'>Add To Cart</button>
              </div>   
            </div>
        </div>
    </div>
</div>