{{>header}}
{{>navbar}}
<section class="my-3 container">
    <h2 class="mb-4">add Task Type</h2>
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="Task Category" name="TaskCategory">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="add">
        </div>
    </form>
</section>
{{>footer}}