<form #changepass="ngForm" (ngSubmit)='changepassword(changepass)' class="container">
    <div class="row g-3 align-items-center mt-4">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Old Password</label>
        </div>
        <div class="col-auto">
            <input id="inputPassword6" class="form-control" required [(ngModel)]="userData.oldpassword" #oldpassword="ngModel" name="oldpassword">
        </div>

        <span class="alert alert-danger my-3" *ngIf="Errormsg!=''">{{Errormsg}}</span>

        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">New Password</label>
        </div>
        <div class="col-auto">
          <input id="inputPassword6" class="form-control" required [(ngModel)]="userData.newpass" #newpass="ngModel" name="newpass">
        </div>
    </div>
    <div class="row mb-3 mt-4">
        <button class="btn btn-primary">Change</button>
    </div>
</form>