{{>header}}
{{>navbar}}
<section class="my-3 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" placeholder="user id" value="{{user.id}}" name="id" disabled>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="user name" value="{{user.name}}" name="name">
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="user age" value="{{user.age}}" name="age">
        </div>
        <div class="mb-3">
            <!--مش مضطره اخليه anchor tag
             عشان ابعت معاه الid
             انا هشتغل بروت الpost form التلقائي-->
            <input type="submit" class="btn btn-primary" value="edit user">
        </div>
    </form>
</section>
{{>footer}}