<div class="container mt-4 d-flex justify-content-center">
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/showallusers">SHOW ALL USERS</button>
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/showallcarts">show all carts</button>
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/showallorders">show all orders</button>
    <button type="button" class="btn btn-success ms-2" (click)="showprofits()">show profits</button>
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/addnewadmin">add new admin</button>
    <button type="button" class="btn btn-success ms-2" (click)="showstats()">show stats</button>
</div>

<div *ngIf="showprofit" class="card mt-4 p-4" style="width: 50vw; margin: auto;">
    <p style="font-size:20px;">Total Profits From All Orders <span class="text-success" style="size: 20px; font-weight: bolder;">{{msg}}</span></p>
</div>

<div *ngIf="showstat" class="card mt-4 p-4" style="width: 50vw; margin: auto;" >
    <div *ngFor="let stat of stats">
        <p style="font-size:20px;"> at mounth <span class="text-success" style="size: 20px; font-weight: bolder;"> {{stat._id}} </span> ther is <span class="text-success" style="size: 20px; font-weight: bolder;"> {{stat.total}} </span> user register to system</p>
    </div>
</div>