<div class="container mt-4 d-flex justify-content-center">
    <button type="button" class="btn btn-success ms-2">SHOW ALL USERS</button>
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/showallcarts">show all carts</button>
    <button type="button" class="btn btn-success ms-2" routerLink="/admin/showallorders">show all orders</button>
    <button type="button" class="btn btn-success ms-2">show profits</button>
    <button type="button" class="btn btn-success ms-2">add new admin</button>
</div>